.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .bg-cover {
    background-color: #6b29f8;
    width: 100%;
    height: 100%;
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .title {
    font-size: 36px;
    font-weight: 600;
    color: #343434;
  }

  .form-holder {
    box-shadow: 10px 10px 40px rgba($color: #5d5d5d, $alpha: .8);
    padding: 20px;
    border-radius: 35px 0 0 35px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    height: 100%;
    box-shadow: -40px 0 55px rgba($color: #404040, $alpha: .19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}